* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(wp3077568.webp) no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
   
  
}

.form-container {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    min-width: 300px;
    background: transparent;
    border: 2px solid #92459ca1;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #ffffff;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #8a4e9f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #804c99;
}
